.items-list {
    width: 450px;
    margin: 22px;
    background: repeating-linear-gradient(45deg, #0a0807, #0a0807 6px, #000 6px, #000 12px);
    box-shadow: 0 0 0 2px #3c2b2c, 0 0 0 4px #000, 0 0 0 6px #090606, 0 0 0 7px #8d7475, 0 0 0 9px #594748, 0 0 0 11px #140c0d, 0 0 0 17px #1c1314, 0 0 0 19px #614e4f, 0 0 0 21px #3c2b2c, 0 0 0 22px #000;

    & .item {
        margin-top: 0;
        box-shadow: 0 0 0 1px #000;
    }
}