.item {
    box-shadow: 0 0 0 1px #000, 0 0 0 3px #3a2e2e, 0 0 0 4px #000;
    border: 6px solid #3a2e2e;
    margin: -2px -2px 0;
    height: 165px; 
    display: flex;
    flex-direction: row;

    &__image {
        background: rgba(58, 46, 46, 0.8);
        width: 105px;
        border: 1px solid #000;
    }

    &__stats {
        flex: 1 1;
        border-left: 6px solid #3a2e2e;
        box-shadow: inset 0 0 0 1px #000, inset 0 0 0 5px rgb(58 46 46 / 80%);
        padding: 0 20px;
        color: #808080;
        font-size: 20px;
        line-height: 23px;
        background: rgba(255, 255, 255, 0.05);

        &-name {
            color: #ca1717;
            margin-left: -10px;
        }
        
        &-type {
            color: #ff4800;
            margin-left: -10px;
        }

        &-value {
            color: #5b69d6;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                background: linear-gradient(90deg, #000 85%, rgba(0, 0, 0, 0) 100%);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 18px;
                z-index: -1;
            }
        }
    }
}